body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    padding: 30px 40px;
    position: absolute;
}

/* Navigation Links */
#navigation li a{
    color: #767280;
    font-weight: 700;
    letter-spacing: -0.04em;
    padding-left: 20px;
}

#navigation li a:hover{
    color: #fff;
}

#navigation .active a {
    color: #fff;
}

/* Slideshow */
.carousel-caption {
    text-align: left;
    top:48%;
    padding: 0 120px 0 120px;
}

.carousel-caption h1 {
    font-size: 46px;
    font-weight: 700;
}

.carousel-caption h3 {
    font-size: 30px;
}

/* Footer */
footer {
    color:#fff;
    padding: 50px 250px;
    font-size: 12px;
}

footer #address,
footer #contact {
    text-transform: uppercase;
    color: #ffb900;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 5px;
    
}

footer .row:nth-child(1) {
    border-bottom: #fff 1px solid;
    margin-bottom: 50px;
}

footer #interchangeLogo {
    width:30%;
    margin-bottom: 20px;
}

footer #copyright {
    font-size:10px;
}

footer #copyright span {
    color: #ffb900;
}

footer #icons {
    text-align: right;
}

footer #icons span {
    padding-left: 12px;
}

footer #ThirtyOneDigitalLogo {
    width: 40%;
}